footer
  .container.text-center
    p.card-brief.float-right(style="margin-bottom: 2rem !important;") © Owen Priestley, 2018
    p.card-brief.float-left(style="margin-bottom: 2rem !important;") #[a(style="font-weight: normal" href="https://www.linkedin.com/in/owenpriestley/") LinkedIn] | #[a(style="font-weight: normal" href="https://medium.com/@owen.priestley") Medium] | #[a(style="font-weight: normal" href="https://github.com/owenpriestley") GitHub]
    br
