.navbar.navbar-light.fixed-top.navbar-expand-md
  .container
    a.navbar-brand(href='/')
      | Owen Priestley
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.sr-only Toggle navigation
      span.navbar-toggler-icon
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li.active.nav-item(class=(title === 'Projects') ? 'active' : undefined)
          a.nav-link(href='/') Projects
        li.nav-item(class=(title === 'Examples') ? 'active' : undefined)
          a.nav-link(href='/examples') Examples
        li.nav-item(class=(title === 'Thoughts') ? 'active' : undefined)
          a.nav-link(href='/thoughts') Thoughts
        li.nav-item(class=(title === 'About') ? 'active' : undefined)
          a.nav-link(href='/contact') About