extends layout

block content
  .row
    .col-md-5
    .col-md-7.lede
      h1 12 million vulnerable people are eligible for free, specialised support from their energy supplier.
      br
      h1 Only 2 million are actually signed up.

  .row
    .col-md-6
      h2 My role
      p We needed to reach these eligible people and help them sign up for free support.
      p I worked with a user researcher and a UX designer to build a universal, accessible and user centred service.
      p In practice, this involved:
      ul
        li validating hypotheses about our users through data and research
        li wireframing the journey for different users and scenarious
        li writing UX copy with empathy and trust
    .col-md-5
      .img-container-top
        .img-container
          img(src="/images/user-needs-1.png" alt="Our starting user need")

  .row.spacer
    .col-md-5
        .img-container-top
          .img-container
            img(src="/images/SearchingPriorityServices.png" style="width: 100%" alt="Searching for Priority Services")
    .col-md-6
      h2 The problem
      p Through research, we knew that many eligible users aren't confident using the internet, and find long forms difficult to fill in.
      p Each energy supplier has their own form - these are often complex, long-winded and buried on corporate websites.
      p We set out to design a straightforward, accessible onbording process - with language our users could understand.

  .row.spacer
    .col-md-7
      h2 Identifying user needs
      p To understand our users and the problems they faced, we recorded assumptions about who might use this new service and pain points they might have.
      p We attached hypotheses to make the impact on the solution clear, and defined validation signals to help guide future conversations with users.
      p To turn them into user needs, we first needed to validate our hypotheses through research and testing.
      p #[a(style="font-weight: normal" href="https://wearecitizensadvice.org.uk/9-million-people-are-missing-out-on-support-with-their-energy-supply-fb3744474b6e") Read more about how we turned hypotheses into user needs] on Medium.
    .col-md-5
      .img-container-top
        .img-container
          img(src="/images/LeanPostIts.png" alt="Recording assumptions, hypotheses and validation signals" width="100%")
          .img-sub User researchers, UX designers and subject matter experts all bring their own assumptions to the table.

  .row.spacer
    .col-md-6
      h2 Speaking our users' language
      p Existing sign up processes asked for lots of personal and often sensitive information.
      p After speaking to users, we found they were overwhelmed by the long list of criteria and confused by the lack of context. The language was also impersonal and hard to relate to.
      p Following a card sorting exercise, I worked with a UX designer to redesign the journey and rewrite the copy - using plain English and brand tone of voice.
      p #[a(style="font-weight: normal" href="https://wearecitizensadvice.org.uk/9-million-people-are-missing-out-on-support-with-their-energy-supply-fb3744474b6e") Find out more more about how we tested microcopy with elderly users] on Medium.

  .row.spacer
    .col-md-2
    .col-md-8
      h3 Before
      img(src="/images/PSRBefore.png" style="max-width: 100%; border: 2px dashed red")
      p.img-sub(style="max-width: 90%; color: red; font-size: 1.4rem; padding-top: 1%") There's no explanation why people need to give this information, and the language is dense and impersonal.
  .row
    .col-md-2
    .col-md-8
      h3 After
      img(src="/images/PSRAfter.png" style="max-width: 100%; border: 2px dashed green; margin: 0 auto;")
      p.img-sub(style="max-width: 90%; color: green; font-size: 1.4rem; padding-top: 1%")  We introduce the criteria logically and progressively. Where possible, I explained why we needed to ask the questions to reassure users and relate to their needs.

  .row.spacer
    .col-md-7
      h2 Wireframing complex parts of the journey
      p Following #[a(style="font-weight: normal" href="https://design-system.service.gov.uk/patterns/question-pages/") GDS design principles] and 'the question protocol', I worked with a UX designer to build and test an interactive prototype.
      p This testing showed that 'proxy users' - those filling in the form on someone else's behalf - found it difficult to identify with the language.
      p How we addressed the user needed to change depending on who filled in the form, and who they were filling it in for.
      p I created a  journey map to define the language for each user and their respective journey, while maintaining a consistent tone of voice.
    .col-md-5
  
  .row.spacer
    .img-container-top
        .img-container
          img(src="/images/PSRWireframe.png" style="max-width: 100%")
          p.img-full I also used this journey to highlight possible pain points and questions for research and testing.
  
  .row.spacer
    .col-md-5
      .img-container-top
        .img-container
          img(src="/images/FormFinder.png" width="100%" alt="Our MVP addresses a key pain point - finding the right form.")
          .img-sub Our MVP addresses a key pain point - finding the right form.
    .col-md-6
      h2 Quick win: building the MVP
      p The existing Citizens Advice content on priority services ranked highly on Google - but it was lengthy and out of date. As a quick-win, I redesigned the content on the site to:
      ul
        li make the journey clearer
        li distil eligibility criteria into actionable bullets
        li include a simple form-finder that points users to the right form for their energy supplier
      p Tracking clickthrough rates on the form finder gave us an indication of how engaged users were with this content as a whole. 
      p We used these findings to build our case for taking ownership of the full onboarding journey.
  
  .row.spacer(style="background: #fafafa; border: solid 2px #ffc107")
    .col-md-6(style="padding: 3%")
      h2 Next project
      div(style="padding-left: 2%;")
        p Millions of people visit #[a(href="http://citizensadvice.org.uk/" style="font-weight: normal") Citizens Advice online advice] to solve all kinds of problems each year.
        p Find out how I helped design straightforward, actionable advice content for this huge and diverse audience.
        a.case-study(href="/projects/content-with-empathy") Read case study →