extends layout

block content
  .row
    .col-md-7
      h1 Hi there!
      p I'm a freelance UX writer with a background in content strategy and product design, currently working at Google.
      p I first became interested in user experience when working at Apple. As I explained complex products and services to new users, I saw the importance of clear, concise and actionable language firsthand.
      p I'm passionate about creating user-centered content. If there isn’t a user need, it isn’t useful. If it isn’t useful, it doesn’t belong in the product.
      p Using language to come up with creative content solutions is what makes me excited to go to work.
      br
      a(href="mailto: owenpriestley@gmail.com") Get in touch →
    .col-md-5    