extends layout

block content
  .row
    .col-md-7
      h1 Hello  
      p I'm a senior content designer with a background in content strategy, UX writing and product design.
      p I'm passionate about creating user-centred content. If there isn’t a user need, it isn’t useful. If it isn’t useful, it doesn’t belong in the product.
      p Following this philosophy, I work in multidisciplinarly teams to build trust with users and design consistent and logical journeys through content, products and services.
      a(href="mailto: owenpriestley@gmail.com") Get in touch →
    .col-md-5    