extends layout

block content
  .row
    .col-md-5
    .col-md-7.lede
      h1 Last year, 43 million people came to Citizens Advice online to solve their personal problems.
      br
      h1 1 million of those people needed help with benefits.

  .row
    .col-md-7.align-top
      h2 The problem
      p Citizens Advice help millions of people with benefits problems every year.
      p My team was tasked with replacing hundreds of long, technical and complex pages of advice content.
      p To do this, we needed to gain a deep understanding of our audience and write concise, actionable advice to solve their problems as quickly as possible.
      p And we needed to speak their language.
  .row.spacer
    .col-md-4
      h3 Before
      img(src="/images/CheckJSABefore.png" style="max-width: 100%; border: 2px dashed red")
      p.img-full(style="color: red; font-size: 1.5rem;") Dense, technical and overtly officious
      img(src="/images/CheckTCBefore.png" style="max-width: 100%; border: 2px dashed red")
      p.img-full(style="color: red; font-size: 1.5rem;") Vague, wordy and unhelpful
    .col-md-4
      h3 After
      img(src="/images/CheckJSAAfter.png" style="max-width: 100%; border: 2px dashed green")
      p.img-full(style="color: green; font-size: 1.5rem;") Clearer, friendlier and focused on the user
      img(src="/images/CheckTCAfter.png" style="max-width: 100%; border: 2px dashed green")
      p.img-full(style="color: green; font-size: 1.5rem;") Concise, user focused and signposts to useful resources


  .row.spacer
    .col-md-7  
      h2 What I did
      p I lead the team focused on Income Support, Jobseeker's Allowance and Tax credits problems.
      p We distilled a vast, complex area into a small number of logical journeys. We then designed concise, user-focused content to meet users' needs.
      p In practice, this meant we had to:
        ul
          li get to know our users and understand their problems
          li audit hundreds of pages of existing content
          li define existing and emerging user needs
          li design new content based on evidence and testing    

  .row.spacer.align-middle
    .col-md-7
      h2 Getting to know our users
      p On the whole, Citizens Advice users have lower-than-average levels of digital literacy. A large number also visit the site during stressful and emotional times in their lives.
      p At the start of the project we set out to observe as many in-person advice sessions as possible - both in and outside London. 
      p I used this time to observe the way our users talked about their benefits problems, and to find out about different problems with experienced advisers.
      p These experiences helped us write helpful content our users could identify with.
    .col-md-5
      .img-container-top
        .img-container
          img(src="/images/hackney-cab.png" alt="The Citizens Advice Bureau in Hackney" style="max-width: 99%")
          p The team visited local offices to observe advice sessions across the country.

  .row.spacer
    .col-md-7
      h2 Understanding the existing content
      p Before we could redesign an expansive area of content, we first needed to understand what it covered.
      p We couldn't read through and process hundreds of pages of advice content, so I developed a system to summarise lengthy user journeys.
      p Using this technique, we skimmed through long sections as a group, quickly noting down the key advice offered on each page.

  .row.spacer
    .container
          .row
            .col-md-12
              #carousel-example-generic.carousel.slide(data-ride='carousel')
                // Wrapper for slides
                .carousel-inner(role='listbox')
                  .item.active
                    img(src='/images/carousel/post-it-audit0.png', alt='' class="img-responsive center-block")
                    |                                 
                    .carousel-caption                                               
                  .item
                    img(src='/images/carousel/post-it-audit1.png', alt='' class="img-responsive center-block")
                  |                             
                  .item
                    img(src='/images/carousel/post-it-audit2.png', alt='' class="img-responsive center-block")
                  |                             
                  .item
                    img(src='/images/carousel/post-it-audit3.png', alt='' class="img-responsive center-block")
                  .item
                    img(src='/images/carousel/post-it-audit4.png', alt='' class="img-responsive center-block")
                  .item
                    img(src='/images/carousel/post-it-audit5.png', alt='' class="img-responsive center-block")
                  .item
                    img(src='/images/carousel/post-it-audit6.png', alt='' class="img-responsive center-block")
                // Controls
                a.left.carousel-control(href='#carousel-example-generic', role='button', data-slide='prev')
                  span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                  |                             
                  span.sr-only Previous
                |                         
                a.right.carousel-control(href='#carousel-example-generic', role='button', data-slide='next')
                  span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                  |                             
                  span.sr-only Next

  .row.spacer
    .col-md-7
      h2 Starting with user needs
      p Based on our understanding of the existing content, and our experience in local Citizens Advice offices, we needed to come up with a plan of action.
      p Working with subject matter experts, we developed a set of user needs and acceptance criteria and recorded these in a central place.
      p This kept us on track throughout development. This broke up the content into logical pages and made sure we covered everything our users needed.
    .col-md-5

  .row.spacer
      .img-container-top 
        .img-container
          img(src="/images/BenefitsContentPlan.png" style="max-width: 90%; -webkit-box-shadow: 0px 4px 18px 6px #ccc")
          p.img-full Keeping user needs in a central place also means the team can add individual findings from research.
  
  .row.spacer
    .col-md-7
      h2 Design new content
      p To meet the user needs identified through discovery, I mapped out the most common user journeys and designed concise, actionable content to support them.
      p I'd familiarised myself with our users' vocabulary during discovery, by observing face-to-face advice sessions and through online forum research.
      p I worked with this vocabulary and the Citizens Advice tone-of-voice to design positive, authoritative and effective content.
      p We tested the content with advisers in local bureaux and in a lab setting with the general public, and monitored feedback and metrics after publishing.
    .col-md-4(style="margin-left: 6%;")
      div(style="width: 50%; float: left; font-weight: 700; text-align: center") Before
      div(style="width: 50%; float: right; font-weight: 700;  text-align: center") After
      .img-container-top
        .img-container.align-top
          img(src="/images/JSA-before.png" style="max-width: 50%" alt="JSA content before redesign")
          img(class="align-top" src="/images/JSA-after.png" style="max-width: 50%" alt="JSA content after redesign")
          p The Jobseeker's Allowance content - before and after. We broke one epic page into a clear, focused journey.

  .row.spacer(style="background: #fafafa; border: solid 2px #ffc107;")
    .col-md-7(style="padding: 3%")
      h2 Next project
      div(style="padding-left: 2%")
        p #[a(href="https://www.red-gate.com/" style="font-weight: normal") Redgate Software] create robust tools for developing, deploying and version controlling databases.
        p I was the only writer on a lean product team designing a tool for a totally new audience.
        p This case study explores the fast-paced process of wireframing, testing and building a beta product.
        a.case-study(href="/projects/developing-a-beta-from-scratch") Read case study →