extends layout

block content
  .row
    .col-md-5
    .col-md-7.lede
      h1 Last year, 43 million people came to Citizens Advice online to solve their personal problems.
      br
      h1 1 million of those people needed help with benefits.

  .row
    .col-md-7.align-top
      h2 The problem
      p Citizens Advice helps millions of people solve their benefits problems every year, both in-person and online.
      p I lead a team that took hundreds of long, complex pages of advice, and replaced them with concise, actionable, and user-centered content.
      p To do this, we needed a deep understanding of our audience and their problems.
  .row.spacer
    .col-md-4
      h3 Before
      img(src="/images/CheckJSABefore.png" style="max-width: 100%; border: 2px dashed red")
      p.img-full(style="color: red; font-size: 1.5rem;") Dense, technical, and officious
      img(src="/images/CheckTCBefore.png" style="max-width: 100%; border: 2px dashed red")
      p.img-full(style="color: red; font-size: 1.5rem;") Vague, wordy, and unhelpful
    .col-md-4
      h3 After
      img(src="/images/CheckJSAAfter.png" style="max-width: 100%; border: 2px dashed green")
      p.img-full(style="color: green; font-size: 1.5rem;") Clear, friendly, and focused on the user
      img(src="/images/CheckTCAfter.png" style="max-width: 100%; border: 2px dashed green")
      p.img-full(style="color: green; font-size: 1.5rem;") Concise, user focused, and signposts to useful resources


  .row.spacer
    .col-md-7  
      h2 What I did
      p I developed the content strategy for a team focused on redesigning Income Support, Jobseeker's Allowance and Tax Credits advice.
      p We distilled a sprawling and complex topic into a small number of logical user journeys. Then designed concise, user-focused content to meet user needs.
      p Practically, this meant we had to:
        ul
          li get to know our users and understand their problems
          li audit hundreds of pages of existing content
          li define existing and emerging user needs
          li design new content based on evidence and testing    

  .row.spacer.align-middle
    .col-md-7
      h2 Getting to know our users
      p We knew from research that, on the whole, Citizens Advice users have lower-than-average levels of digital literacy. And those who visit the site often do so during stressful and emotional times in their lives.
      p At the start of the project, we set out to observe as many in-person advice sessions as possible—both in and outside London.
      p I used this time to observe the way our users talked about their benefits problems, and to see how experienced advisers navigated these complex, nuanced journeys.
      p These experiences helped shape a content plan that reflected real-life user journeys, and a tone of voice that supported our users.
    .col-md-5
      .img-container-top
        .img-container
          img(src="/images/hackney-cab.png" alt="The Citizens Advice Bureau in Hackney" style="max-width: 99%")
          p The team visited local offices to observe advice sessions across the country.

  .row.spacer
    .col-md-7
      h2 Understanding the existing content
      p Before we could redesign an expansive area of content, we first needed to understand the key areas covered.
      p We couldn't read through and process hundreds of pages of advice content, so I developed a system to summarise lengthy user journeys.
      p Using this technique, we skimmed through long sections as a group, quickly noting down the key advice offered on each page.

  .row.spacer
    .container
          .row
            .col-md-12
              #carousel-example-generic.carousel.slide(data-ride='carousel')
                // Wrapper for slides
                .carousel-inner(role='listbox')
                  .item.active
                    img(src='/images/carousel/post-it-audit0.png', alt='' class="img-responsive center-block")
                    |                                 
                    .carousel-caption                                               
                  .item
                    img(src='/images/carousel/post-it-audit1.png', alt='' class="img-responsive center-block")
                  |                             
                  .item
                    img(src='/images/carousel/post-it-audit2.png', alt='' class="img-responsive center-block")
                  |                             
                  .item
                    img(src='/images/carousel/post-it-audit3.png', alt='' class="img-responsive center-block")
                  .item
                    img(src='/images/carousel/post-it-audit4.png', alt='' class="img-responsive center-block")
                  .item
                    img(src='/images/carousel/post-it-audit5.png', alt='' class="img-responsive center-block")
                  .item
                    img(src='/images/carousel/post-it-audit6.png', alt='' class="img-responsive center-block")
                // Controls
                a.left.carousel-control(href='#carousel-example-generic', role='button', data-slide='prev')
                  span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                  |                             
                  span.sr-only Previous
                |                         
                a.right.carousel-control(href='#carousel-example-generic', role='button', data-slide='next')
                  span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                  |                             
                  span.sr-only Next

  .row.spacer
    .col-md-7
      h2 Identifying user needs
      p Based on our understanding of the existing content, and our experience in local Citizens Advice offices, I worked with user researchers, subject matter experts, and content designers to develop a content plan.
      p This kept us on track throughout development, and broke up content into logical pages, making sure we covered each key journey we identified.
    .col-md-5

  .row.spacer
      .img-container-top 
        .img-container
          img(src="/images/BenefitsContentPlan.png" style="max-width: 90%; -webkit-box-shadow: 0px 4px 18px 6px #ccc")
          p.img-full As we progressed through the project, we added key findings from testing and research
  
  .row.spacer
    .col-md-7
      h2 Designing actionable content
      p I'd familiarised myself with our users' vocabulary during discovery, by observing face-to-face advice sessions, and through online forum research.
      p Using this vocabulary, and the Citizens Advice brand, I designed optimistic, friendly and supportive advice content that resonated with users.
      p To test the new content, we revisited local offices and observed sessions as advisers walked users through different problems. This pointed out potential pain points in the new content, and gave us great feedback to iterate.
      p We also put the content through testing in a lab setting, asking members of the public to walk through the content and solve various problems. Again, this proved invaluable in shaping the final product.
    .col-md-4(style="margin-left: 6%;")
      div(style="width: 50%; float: left; font-weight: 700; text-align: center") Before
      div(style="width: 50%; float: right; font-weight: 700;  text-align: center") After
      .img-container-top
        .img-container.align-top
          img(src="/images/JSA-before.png" style="max-width: 50%" alt="JSA content before redesign")
          img(class="align-top" src="/images/JSA-after.png" style="max-width: 50%" alt="JSA content after redesign")
          p The Jobseeker's Allowance content - before and after. We broke one epic page into a clear, focused journey.

  .row.spacer(style="background: #fafafa; border: solid 2px #ffc107;")
    .col-md-7(style="padding: 3%")
      h2 Next project
      div(style="padding-left: 2%")
        p #[a(href="https://www.red-gate.com/" style="font-weight: normal") Redgate Software] create robust tools for developing, deploying and version controlling databases.
        p I was the only writer on a lean product team designing a tool for a totally new audience.
        p This case study explores the fast-paced process of wireframing, testing and building a beta product.
        a.case-study(href="/projects/developing-a-beta-from-scratch") Read case study →