extends layout

block content
  .row
    .col-md-5
    .col-md-7.lede
      h1 Writing examples
      h2 Short examples of clear, concise and actionable UX writing and content design

  .row.spacer
    .col-md-1
    .col-md-9
      h2 Onboarding email and UX copy
      p I joined the DLM Dashboard product team as their user base started to grow rapidly. I was tasked with designing the onboarding journey for new and existing users to manage their permissions.
      p Working with a UX designer, I helped:
      ul
        li wireframe and test the journey with users
        li define the taxonomy for different user groups
        li write the microcopy for users onboarding and managing permissions
  
  .row.spacer
    .col-md-11.col-centered
      h3 An email for new users
      img(src="/images/DLMRequestAccess.png" style="max-width: 100%; border: none")
      p.img-sub(style="max-width: 90%; font-size: 1.5rem; padding-top: 1%;") New users who joined a team with restricted access needed an easy way to contact their administrator. This journey appears both in-app and via email.
  
  .row.spacer
    .col-md-11.col-centered
      h3 Checking and requesting permissions in the app
      img(src="/images/DLMNewPermissions.png" style="max-width: 90%; border: none")
      p.img-sub(style="max-width: 90%; font-size: 1.5rem;") User focused language helps people understand what they can and can't do in the app, and makes it clear how to request individual and bulk permissions.
  





  .row.spacer
    .col-md-1
    .col-md-9
      h2 Reactive advice content
      p In the wake of Windrush, affected people didn't know what to do next. The only guidance was a #[a(style="font-weight: normal" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/710576/The_Windrush_Scheme.pdf") a lengthy PDF document buried on the Home Office website].
      p Citizens Advice saw a sudden spike in the number of cases surrounding immigration - both online and in person.
      p We needed to offer reassurance and guidance to those affected, without causing panic or unnecessary stress.
      p Working to a very tight deadline, I paired with immigration experts to write clear, concise and actionable advice content using the Citizens Advice tone of voice.
  .row.spacer
    .col-md-7.col-centered
      h3 Before
      img(src="/images/WindrushBefore.png" style="max-width: 100%; border: 2px dashed red; margin: 0 auto")
      p.img-sub(style="max-width: 90%; font-size: 1.5rem; padding-top: 1%;") This PDF is far from mobile friendly, and mentions forms without giving any direct links. The language is passive, vague and officious.
      br
    .col-md-7.col-centered
      h3 After
      img(src="/images/WindrushAfter.png" style="max-width: 100%; border: 2px dashed green")
      p.img-sub(style="max-width: 90%; font-size: 1.5rem; padding-top: 1%")  This content offers users concrete next steps with:
        ul.img-sub(style="max-width: 90%; font-size: 1.5rem") 
          li short, actionable paragraphs and concise bullets
          li a friendly but authoritative tone of voice
          li links to the relevant forms and contact channels
      br
    .col-md-7.col-centered
      h3 Impact
      div.impact
        p In the week before we published this advice content, we saw:
          ul
            li 10% spike in traffic to our immigration content
            li sudden demand on local offices for immigration advice
            li queries and complaints about the lack of advice
        p After publication, traffic to the general immigration pages decreased as people found what they needed on this page. 
        p We continued to track clickthroughs the main CTA on the page - directing users to the the right contact channels - and monitored feedback.

  .row.spacer
    .col-md-1
    .col-md-9
      h2 UX copy for an onboarding journey
      p To help vulnerable people access free services they were entitled to, my team was tasked with designing a user centered onboarding process. 
      p #[a(style="font-weight: normal" href="/projects/a-service-for-vulnerable-users") Find out more] about how I helped redesign the service.
      br
    .col-md-7.col-centered
      h3 Before
      img(src="/images/PSRBefore.png" style="max-width: 100%; border: 2px dashed red")
      p.img-sub(style="max-width: 90%; color: red; font-size: 1.5rem; padding-top: 1%;") There's no explanation why people need to give this information, and the language is dense and impersonal.

    .col-md-7.col-centered
      h3 After
      img(src="/images/PSRAfter.png" style="max-width: 100%; border: 2px dashed green")
      p.img-sub(style="max-width: 90%; color: green; font-size: 1.5rem; padding-top: 1%")  We introduce the criteria logically and progressively. Where possible, I explained why we needed to ask the questions to reassure users and relate to their needs.

    .col-md-7.col-centered
      h3 Impact
      div.impact
        p Testing this new journey showed that using more relatable language and logical groupings saw around:
          ul 
            li 30% more people reaching the end of the journey
            li 20% fewer people selecting things that didn't apply to them
        p The progressive disclosure of criteria slowed down the completion time, but increased the accuracy of results considerably.