extends layout

block content
  .row(style="width: 100%")
  .col-md-12
    #projects-carousel.carousel.slide(data-ride='carousel' data-interval="false")
      // Controls
      div(style="margin: auto; padding-bottom: 5%")
        a.left.projects-control(href='#projects-carousel', role='button', data-slide='prev', style="float: left") &#8592; previous project
        a.right.projects-control(href='#projects-carousel', role='button', data-slide='next', style="float: right; text-align: right;") next project &#8594;
      br


      

      // Wrapper for slides
      .carousel-inner(role='listbox')
        .item.active
          .col-md-4.valign(style="padding-left: 0; padding-right: 0;")
            .card
              .card-body
                a.project-title(href="/projects/a-service-for-vulnerable-users") Designing a journey for vulnerable users
              .card-brief
                p 9 million people in the UK are missing out on free services from their energy supplier because they aren't signed up.
                p The main reason? The signup process. The forms are complex, hard to find, and even harder to use.
                p I worked on the UX copy for a unified, user-centered process that supports a vulnerable audience.
                a.case-study(href="/projects/a-service-for-vulnerable-users") Read case study →
          .col-md-8
            img(src="/images/ux-priority-thumbnail.png" style="max-width: 90%; max-height: 100%")   

        .item
          .col-md-4.valign(style="padding-left: 0; padding-right: 0;")
            .card
              .card-body
                a.project-title(href="/projects/content-with-empathy") Writing content with empathy
              .card-brief
                p 350 million people visited Citizens Advice online last year to get help with all kinds of problems.
                p I lead the team tasked with replacing long, complex benefits advice with something more user-centred.
                p We designed straightforward, actionable content for this huge and diverse audience.
                a.case-study(href="/projects/content-with-empathy") Read case study →
          .col-md-8
            img(src="/images/ContentPlanThumbnail.png" style="max-height: 130%; max-width: 90%")           



        .item
          .col-md-4.valign(style="padding-left: 0; padding-right: 0;")
            .card
              .card-body
                a.project-title(href="/projects/developing-a-beta-from-scratch") Developing a beta from scratch
              .card-brief
                p Redgate Software create robust tools for developing, deploying and version controlling databases.
                p I was the only writer on a lean product team designing a tool for a totally new audience.
                p This case study explores the fast-paced process of wireframing, testing and building a beta product.
                a.case-study(href="/projects/developing-a-beta-from-scratch") Read case study →
          .col-md-8.valign
            img(src="/images/SSDTMockup2.png" style="border: 1px solid #777; max-height: 100%; max-width: 90%; margin: auto;")                                   

        .item
          .col-md-4.valign(style="padding-left: 0; padding-right: 0;")
            .card
              .card-body
                a.project-title(href="/projects/swatchify-about") Swatchify
              .card-brief
                p In my spare time, I wanted to learn how to build web applications in Node.JS
                p I love music and artwork, so I wanted to somehow involve that too.
                p The result is Swatchify - a web app that takes a song, artist or album, and generates a colour scheme to match!
                a.case-study(href="/projects/swatchify-about") Try it out →
          .col-md-8
            img(src="/images/swatchify.png" style="max-width: 85%")
