extends layout

block content
  .row
    .col-md-6
      .card(style="width: 22rem")
        img.card-img-top(src="images/ux-writing-thumbnail.png")
        .card-body
          a.card-text UX Writing — Designing a journey for vulnerable users
    .card(style="width: 22rem")
        img.card-img-top(src="images/ux-writing-thumbnail.png")
        .card-body
          a.card-text UX Writing — Designing a journey for vulnerable users