extends layout

block content
  .row
    .col-md-5
    .col-md-7.lede
      h1 Last year, 43 million people came to Citizens Advice online to solve their personal problems.
      br
      h1 Over 1 million of those people needed help with benefits.

  .row.spacer
    .col-md-7
      h2 The problem
      p Benefits is the most popular area for Citizens Advice to help people - both online and face-to-face.
      p Over the years, hundreds of long, complex pages were developed to serve 2 audiences - the public user, and advisers in local Citizens Advice offices.
      p We needed to work out what people actually need help with, and how to solve those problems as quickly as possible.
    .col-md-5

  .row.spacer
    .col-md-5
        .img-container-top
          .img-container
            img(src="/images/InWorkBenefits.png" style="width: 100%" alt="Auditing hundreds of pages")
            p One of our pages was longer than the classic novella Heart of Darkness

    .col-md-7
      h2 What I did
      p I lead the team tasked with designing user centred, actionable benefits advice to help people with Income Support, Jobseeker's Allowance and Tax credits problems.
      p The team distilled a vast, complex area into a small number of logical journeys. We then designed concise, user-focused content to meet users' needs.
      p In practice, this meant we had to:
        ul
          li audit hundreds of pages of existing content
          li define existing and emerging user needs
          li design new content based on evidence and testing

  .row.spacer
    .col-md-7
      h2 Audit the content, understand the subject
      p To redesign an extensive, high-traffic area of advice content, we first needed to understand exactly what it covered.
      p It wasn't feasible to read through hundreds of pages of advice content, so I developed a post-it note system to summarise lengthy journeys.
      p Using this technique, we skimmed through long sections as a group and quickly summarised the key problems each page covered.

  .row.spacer
    .container
          .row
            .col-md-12
              #carousel-example-generic.carousel.slide(data-ride='carousel')
                // Indicators
                ol.carousel-indicators
                  li.active(data-target='#carousel-example-generic', data-slide-to='0')
                  |                             
                  li(data-target='#carousel-example-generic', data-slide-to='1')
                  |                             
                  li(data-target='#carousel-example-generic', data-slide-to='2')
                  |                             
                  li(data-target='#carousel-example-generic', data-slide-to='3')
                  |                             
                  li(data-target='#carousel-example-generic', data-slide-to='4')
                  |                             
                  li(data-target='#carousel-example-generic', data-slide-to='5')
                  |                             
                  li(data-target='#carousel-example-generic', data-slide-to='6')
                // Wrapper for slides
                .carousel-inner(role='listbox')
                  .item.active
                    img(src='images/carousel/post-it-audit0.png', alt='')
                    |                                 
                    .carousel-caption                                               
                  .item
                    img(src='images/carousel/post-it-audit1.png', alt='')
                  |                             
                  .item
                    img(src='images/carousel/post-it-audit2.png', alt='')
                  |                             
                  .item
                    img(src='images/carousel/post-it-audit3.png', alt='')
                  .item
                    img(src='images/carousel/post-it-audit4.png', alt='')
                  .item
                    img(src='images/carousel/post-it-audit5.png', alt='')
                  .item
                    img(src='images/carousel/post-it-audit6.png', alt='')
                // Controls
                a.left.carousel-control(href='#carousel-example-generic', role='button', data-slide='prev')
                  span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                  |                             
                  span.sr-only Previous
                |                         
                a.right.carousel-control(href='#carousel-example-generic', role='button', data-slide='next')
                  span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                  |                             
                  span.sr-only Next

  .row.spacer
    .col-md-5
    .col-md-7
      h2 Define and validate user needs
      p With our knowledge of the existing content in hand - and data on the most common problems - we worked with subject matter experts to develop a set of user needs and acceptance criteria.
      p To delve deeper into the problem, we got out of the office and observed face-to-face sessions in Citizens Advice Bureaux across the country.
      p This helped us empathise with our users and validated many of our assumptions.

  .row.spacer
      .img-container-top 
        .img-container
          img(src="/images/BenefitsContentPlan.png" style="width: 100%")
          p.img-full Recording user needs in a central place gives the whole team the opportunity to add their individual findings from research.
  
  .row.spacer
    .col-md-7
      h2 Design the content
      p To meet the user needs identified through discovery, I mapped out the most common user journeys and designed concise, actionable content to support them.
      p I'd familiarised myself with our users' vocabulary during discovery, by observing face-to-face advice sessions and through online forum research.
      p I worked with this vocabulary and the Citizens Advice tone-of-voice to design positive, authoritative and effective content.
      p We tested the content with advisers in local bureaux and in a lab setting with the general public, and monitored feedback and metrics after publishing.
    .col-md-5
      .img-container-top
        .img-container
          img(src="/images/CheckIfJSA.png" style="width: 100%")