head
  link(rel='stylesheet', href='/css/lib/resetForms.css')
  link(rel='stylesheet', href='/css/swatchify/main.css')
  link(href='https://fonts.googleapis.com/css?family=Lobster|Roboto', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400', rel='stylesheet')
  script(src='https://code.jquery.com/jquery-3.2.1.min.js')
  script(src='/js/swatchify/scripts.js')
  script(src='/js/swatchify/swatchify.js')
  script(src='/js/lib/markdown.min.js')
  script(src='/js/lib/vibrant.js')
body
  #top-container
    #left
      #search
        input#album(type='text', placeholder='Enter artist, song or album')
        button#getArtwork(type='submit') Search
      #postBody
        br
        .finals
          img(id='#albumView', width='200px')
      br
    #right
      .finals
        h1.get
        #palette
  #bottom-container
    #bottom-content
      div
        p.success
      div
        h2.responseTitle
        #responseBody
