extends layout

block content
  .row
    .col-md-3
      .card.thoughts
        .card-body
          img(src="images/thoughts/prototype-thumbnail.jpg" style="max-width: 100%; padding-bottom: 15px")
          a.blog-title(href="https://medium.com/p/3b25a4e17fb0/") Thinking differently about prototypes
        //  .card-brief
          p As part of testing, we took our prototype to digital inclusion groups — local drop in sessions where people over 50 can build confidence using computers and digital services.
          p At these sessions, we came across a different barrier altogether.
          .case-study(href="https://medium.com/p/3b25a4e17fb0/") Read full blog →
    .col-md-3
      .card.thoughts
        .card-body
          img(src="images/thoughts/face-to-face-thumbnail.jpeg" style="max-width: 100%; padding-bottom: 15px")
          a.blog-title(href="https://medium.com/p/5756637255b/") Designing digital content to support an offline journey
        // .card-brief
            p Last year, Citizens Advice helped 2.7 million people with their problems  -  face-to-face, online or over the phone.
            p Digital advice plays an ever-increasing role in solving these problems, but how do you design content that supports people across these various channels?
            .case-study(href="https://medium.com/p/5756637255b/") Read full blog →
    .col-md-3
      .card.thoughts
        .card-body
          img(src="images/thoughts/zen-thumbnail.jpg" style="max-width: 100%; padding-bottom: 15px")
          a.blog-title(href="/strategy-benefits") Zen and the Art of Documentation Maintenance
        // .card-brief
            p This year's European branch of Write The Docs was kicked off in Prague by Riona MacNamara, a technical writer at Google. 
            p In her talk, Imposter no more, Riona suggested that many technical writers suffer from ‘imposter syndrome’ - the feeling that we’re somehow fraudulent, and that it's only a matter of time until we're ‘found out’.
            .case-study(href="https://owenpriestley.co.uk/thoughts-1/2015/11/11/zen-and-the-art-of-documentation-maintenance") Read full blog →
    .col-md-3
      .card.thoughts
        .card-body
          img(src="images/thoughts/apple-thumbnail.jpg" style="max-width: 100%; padding-bottom: 15px")
          a.blog-title(href="https://medium.com/@owen.priestley/3-things-working-in-an-apple-store-taught-me-about-ux-ac6122a1307f") 3 things working in an Apple store taught me about UX
        //  .card-brief
            p Like so many people, my first job was in retail. I worked in a discount clothes shop, putting clothes back onto hangers and watching them fall off again. I did it for 4 hours a week and I hated it so much.
            p But I ended up spending 3 years working in an Apple store, and looking back, many of the skills I use today as a UX writer come from my time at Apple.
            .case-study(href="https://medium.com/@owen.priestley/3-things-working-in-an-apple-store-taught-me-about-ux-ac6122a1307f") Read full blog →