extends layout

block content
  .row
    .col-md-5
    .col-md-7.lede
      h1 Redgate build straightforward, powerful database tools used by 91% of Fortune 500 companies.
      br

  .row.spacer
    .col-md-7
      h2 The brief
      p During my time at Redgate I worked on UX copy, technical documentation and marketing content for various products.
      p For this project, we set out to discover if there was a user need for managing 'static data' in Visual Studio. This is the kind of data that rarely changes - for example countries and currencies.
      p Based on our findings, we started work on a Visual Studio extension to address the pain points in this process. As the sole technical writer in a small, lean product team, I helped to prototype, build and test this extension.


    .col-md-5
      .img-container-top
        .img-container
          img(src="/images/Redgate1.png" style="max-width: 100%" alt="Visual Studio script")
          p As the first Visual Studio extension Redgate had developed, this project presented unique challenges.

  .row.spacer
    .col-md-7
      h2 What I did
      p I worked closely with a UX designer, developers and a product owner to:
      ul
        li develop UX copy and documentation
        li test different wireframes and prototypes with beta users
        li produce tutorial videos and marketing copy

    .col-md-5
        .img-container-top
          .img-container
            img(src="/images/Redgate2.jpeg" style="max-width: 100%" alt="Adopting Lean UX principles")
            p Adopting Lean UX principles helped keep the focus on our users during alpha and beta stages.

  .row.spacer
    .col-md-7
      h2 Writing UX copy and documentation
      p Because we were building an extension inside Visual Studio - rather than one of our own products - I had to keep a tight scope when writing copy for the UI.
      p As one way around this problem, I designed concise placeholder copy we could include in blank scripts at key parts in the journey.
      p This was a straightforward way to guide users through complex processes, without making changes to the Visual Studio UI.
      p While this started life as a workaround, it became an effective help tool.
    .col-md-5
      .img-container-top
        .img-container
          img(src="/images/Redgate3.png" alt="Adding helptext to generated scripts" style="max-width: 100%")
          p As well as this in product microcopy, I developed supporting documentation throughout the beta process
  
  .row.spacer
    .col-md-7
      h2 Testing with beta users
      p To test and improve the microcopy in the interface, I worked with a UX designer to set up screen sharing sessions with experienced users.
      p Starting with wireframes and low-fidelity prototypes, I validated my assumptions about language and the user journey. Using low-fidelity designs meant I could quickly test different approaches to in-product help.
      p Once we had a more concrete idea of how best to approach the problem, I worked with developers to incorporate the UX copy into a more robust, functional tool.

    .col-md-5
      .img-container-top
        .img-container
          img(src="/images/Redgate4.png" style="max-width: 100%" alt="Wireframing our prototype first")
          p We started out with wireframes before building anything functional
  
  .row.spacer
    .col-md-7
      h2 Scripting and producing tutorial videos
      p We'd identified a pain point for Visual Studio users, but this was a very new audience to us.
      p To help engage new and existing users, I scripted and produced a tutorial video aimed at helping users who experienced the problem we were trying to solve.
      p Through interaction with this video, we saw overall engagement with users increase. In turn, we started conversations with new beta users who could test future iterations of the product.
    .col-md-5
      a(href="https://www.youtube.com/watch?v=x01h3LBMR8k")
        img(src="/images/RedgateThumbnail.png" style="max-width:100%")