@import "themes/default/variables";

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/@ladjs/bootstrap-social/bootstrap-social.scss";
@import "lib/font-awesome/fontawesome";
@import "lib/font-awesome/fa-brands";
@import "lib/font-awesome/fa-regular";
@import "lib/font-awesome/fa-solid";
/* for title */
@import url('https://fonts.googleapis.com/css?family=Muli:400,700');
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700');
@import "themes/default/default";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 75px;
  font-size: 18px;
  line-height: 1.8em;
  letter-spacing: .02em;
  text-rendering: optimizeLegibility;
  font-family: 'Muli', Helvetica;
}

h1 {
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;}

h2 {
  font-size: 27px;
  line-height: 40.5px;
  font-weight: 500;
  -webkit-margin-after: 0.83em;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  -webkit-margin-after: 0.83em;
}

p {
  line-height: 27px;
  margin-bottom: 18px;
}

#projects-carousel > div.carousel-inner > div.item > div:nth-child(1) > div {
  @media (min-width: 800px) {
    margin-left: 10%; 
  }
  margin-top: 5%
}

#projects-carousel > div.carousel-inner > div.item > div:nth-child(2) > img {
  margin-left: 10%;
}

.valign {
  display: flex;
  height: 100%;
  align-items: center;
}

a {
  font-weight: 700;
  color: #007bff;
  transition: 0.3s;
    transition-property: initial;
    transition-duration: 0.3s;
    transition-timing-function: initial;
    transition-delay: initial;
}

.case-study {
  text-align: right;
  float: right;
  padding-top: 5%;
  padding-bottom: 5%;
}

.col-centered {
    float: none;
    margin: 0 auto;
}


// Let's play cards
// ------------------
.card {
  margin: 2px;
  max-width: 325px;
  min-width: 300px;
  border: none;
}

.thoughts {
  padding-bottom: 20px;
  margin-bottom: 20px;
  @media (max-width: 375px) {
    border-bottom: 1px solid #cacaca;
  }
}

.card-body {
  text-align: center;
}

.card-body p {
  font-weight: 400;
  line-height: 21px;
}

.card-brief {
  font-size: 1.6rem;
  margin-top: 5%;
  margin-bottom: 0;
  font-weight: 400;
  color: #333;
  text-align: justify;
  line-height: 2.4rem;
}

.project-title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.2;
  color: black;
  border-bottom: none;
}

.blog-title {
  font-weight: 700;
  font-size: 1.75rem;
  color: black;
  border-bottom: none;
}

a:hover {
  text-decoration: none;
  color: black;
}



footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

@media (min-width: 800px) {
.container {
    max-width: 1500px;
    padding-left: 50px;
    padding-right: 50px 
}

.carousel-inner .item {
  min-height: 90%;
  margin: auto;
}
}

.img-container-top {
  display: table;
  height: 100%;
  width: 100%;
}

.img-container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: .825em; 
  margin-top: 1%;
}

.before {
  max-width: 100%; 
  border: 2px dashed red
}

.after {
  max-width: 100%;
  border: 2px dashed green
}

.impact {
  max-width: 100%;
  border: 2px dashed #f6be3f;
  padding: 10px;
  font-size: 1.5rem
}

.spacer {
  margin-top: 90px;
}


// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  min-height: 30px;
  margin: -15px 15px -15px;
}

.navbar{
  @media (max-width: 375px) {
    text-align: center;
  }
  padding: 0px;
  margin-bottom: 20px;
  display: block;
}

.navbar-brand{
  @media (max-width: 375px) {
    margin: 0 auto;
    padding-left: 17%;
  }
  font-size: 18px;
  float: left;
  margin-left: 15px;
  border-bottom: none;
}

.navbar-toggler {
  position: relative;
  float: right;
  margin-right: 15px;
  margin-bottom: 8px;
  margin-top: 8px;
  border: none !important;
}

// Did someone say buttons?
// -------------------------

.btn-primary {
  color: var(--button-color);
  background-color: var(--button-background-color);
  border-radius: var(--border-radius);
  font-family: 'Muli', Helvetica;
  font-size: 1.7rem;
}

.btn-primary:hover {
  box-shadow: inset 0 0 0 20rem var(--darken-1);
}

.btn-primary:active {
  box-shadow: inset 0 0 0 20rem var(--darken-2),
    inset 0 3px 4px 0 var(--darken-3),
    0 0 1px var(--darken-2);
}

.btn-primary:disabled,
.btn-primary.is-disabled {
  opacity: .5;
}


.navbar-light .navbar-toggler-icon {
  font-size: 16px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHMAAABkCAMAAACCTv/3AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFAAAA5ubmSUUG+gAAAAJ0Uk5T/wDltzBKAAAAPklEQVR42uzYQQ0AAAgDseHfNC4IyVoD912WAACUm3uampqampqamq+aAAD+IVtTU1NTU1NT0z8EAFBsBRgAX+kR+Qam138AAAAASUVORK5CYII=);
  border: none !important;
}

.dropdown-menu {
  left: initial;
  right: 0;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.focus {
  color: black;
 };

 .navbar.navbar-light.fixed-top.navbar-expand-md
{
  box-shadow: none;
}

.navbar-brand {
  letter-spacing: 0.08rem;
}

.navbar-light {
  border: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  opacity: 0.9; }
  .navbar-light .navbar-nav > li > a {
    font-family: 'Muli', Helvetica;
    font-size: 1.7rem;
    font-weight: 700;
    text-transform: none;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px; 
    background-color: white;
    letter-spacing: 0.08rem;}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}

.fab {
  margin-right: 6px;
}

.fas {
  margin-right: 6px;
}

.far {
  margin-right: 6px;
}

// Special headers
// -------------------------

.lede {
  margin-top: 100px;
  margin-bottom: 10%;
}

.img-sub {
  font-size: 1.5rem;
  text-align: left;
}

.img-full {
  text-align: center !important;
  padding-top: 1%
}

// Carousel config
// --------------------------

.carousel-control {
  background-image: none !important;
}

// Mobile only
// ---------------------------

@media (max-width: 375px){
.card { 

  margin-bottom: 10px;

}

 }

//------^

ol.carousel-indicators li,
ol.carousel-indicators li.active {
  border: 1px solid black !important;
  background-color: transparent;
}

.projects-control {
  text-shadow: none !important;
  font-size: 1.7rem !important;
  width: 50%;
  text-decoration: none;
  @media (max-width: 375px) {
    font-size: 15px !important;
  }

}